$color-primary: #03045e;
$color-blue-command: #0077b6;
$color-royal-blue: #111E6C;
$color-grey-light: #f7f7f7;
$color-grey: #eee;

$color-white: #ffffff;

$text-color: #737373;
$grey-1: #EDEDED;
$grey-2: #A2A1A1;
$grey-3: #515A5F;
$grey-4: #82808B;

$color-dark-red: #c70039;
$color-black: #000000;


$bp-large: 70em; //1144px
$bp-medium-1: 63em; //1008px
$bp-medium-2: 51.5em; //824px
$bp-tab: 40.625em; //650px
$bp-tab-2: 39.125em; //650px
$bp-phone-1: 34.125em; //546px
$bp-phone-2: 30.625em; //410px

