$color-primary: #03045e;
$color-blue-command: #0077b6;
$color-royal-blue: #111E6C;
$color-grey-light: #f7f7f7;
$color-grey: #eee;

$text-color: #737373;
$grey-1: #EDEDED;
$grey-2: #A2A1A1;
$grey-3: #515A5F;
$grey-4: #82808B;

// $gradient-1: background-color: #6e72fc;
// background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);

