@import '../../sass/abstracts/variable';
@import '.././../sass/abstracts/mixin';

.category {
    background-color: $color-white;
    color: $text-color;
    
    &__heading {
        @include column-heading;

    }

    &__list {
        list-style-type: none;
        margin-top: .8rem;

        & li {
            margin-bottom: 1rem;
            cursor: pointer;
            // background-color: orangered;
        }
        
        &--item {
            color: $text-color;
            text-decoration: none;
            font-size: 1.9rem;
            text-transform: capitalize;
        }
    }

    &__icon {
        margin-right: .7rem;
        font-size: 1.4rem;
        color: $color-royal-blue;
        margin-left: 1.2rem;
    }
}

.category-active {
    background-color:  #111f6ca9;

    & a {
        color: $color-grey-light;
    }
}

.category-list:hover {
    background-color: $grey-4;
}

.category-list:hover .category__list--item {
    color: $color-white;
}