@import '../../sass/abstracts/variable';

.shop-page {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 3rem) [center-start ] minmax(min-content, 20rem) [main-start] 
    minmax(min-content, 110rem) [main-end] 1fr [center-end] minmax(2rem, 1fr) [full-end];
    grid-row-gap: 3rem;

    &__nav {
        grid-column: full-start / full-end;
    }

    &__category {
        grid-column: center-start / main-start;
        background-color: $color-white;
        height: min-content;
        padding-bottom: 4rem;

        @media only screen and (max-width: $bp-tab-2) {
            display: none;
        }
    }

    &__highlight {
        margin-left: 3rem;

        @media only screen and (max-width: $bp-tab-2) {
            grid-column: center-start / center-end;
        }

        @media only screen and (max-width: $bp-phone-2) {
            grid-column: full-start / full-end;
            margin-left: 0;
        }
    }
}