@import '../../sass/abstracts/variable';

.purchase {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 95rem) minmax(2rem, 1fr);

    &__nav {
        grid-column: 1 / -1;
    }

    &__cart {
        grid-column: 2 / 3;
        margin-top: 1rem;
    }

    &__btn {
        grid-row: 4 / 5;
        grid-column: 2/ 3;
    }

    &__note {
        grid-column: 2 / 3;
        text-align: center;
        margin-top: 3rem;

        &--heading {
            color: red;
            font-size: 1.8rem;
        }

        &--header {
            font-size: 1.6rem;
            color: $color-black;
            // text-decoration: underline;
        }

        &--detail {
            font-size: 1.4rem;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 1.3rem;
        }
    }
}