.btn-buy {
    display: block;
    font-size: 1.8rem;
    padding: .3rem 1.3rem;
    border-radius: 1.5rem;
    border: none;
    background-color: $color-dark-red;
    color: $color-white;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: .8rem;
    cursor: pointer;
}

.btn-cart {
    display: block;
    font-size: 1.8rem;
    padding: .3rem 1.3rem;
    border-radius: 1.5rem;
    border: none;
    background-color: $color-blue-command;
    color: $color-white;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: .8rem;
    cursor: pointer;
}