@import '../../sass/abstracts/variable';
@import '../../sass//abstracts/mixin';

.featured-products {
    grid-column: full-start / main-start;
    background-color: $color-white;
    height: min-content;

    &__heading {
        @include column-heading;
        margin-bottom: 2rem;
    }
}