@import '../../sass/abstracts/variable';
@import '../../sass//abstracts/mixin';

.featured-products {
    background-color: $color-white;
    height: min-content;
    padding-bottom: 3rem;
    min-height: 30vh;

    &__heading {
        @include column-heading;
        margin-bottom: 2rem;
    }
}