@import '../../sass/abstracts/variable';

.not-found {

    &__content {
        width: 60vw;
        margin: 0 auto;
        margin-top: 5rem;
        text-align: center;

        @media only screen and (max-width: $bp-tab) {
            width: 75vw;
        }
    
        & span {
            display: block;
            text-align: center;
            color: $text-color;
        }
    
    }
    &__hm {
        font-size: 4rem;
        font-family: 'Kaushan Script', cursive;
        color: $color-primary !important;

        @media only screen and (max-width: $bp-tab) {
            font-size: 3rem;
            font-weight: 200;
        }
    }

    &__page {
        font-size: 2.4rem;
    }

    &__error {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        color: orangered !important;
    }

    &__btn {
        display: inline-block;
        margin-top: 4rem;

        padding: .4rem 2.5rem;
        font-size: 2rem;
        background-color: $color-primary;
        color: $color-white;
        border: none;
        border-radius: 2.4rem;
        cursor: pointer;
        text-decoration: none;
    }
}
